@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg-hsl: 0, 0%, 100%;
}

body {
  color: hsla(var(--fg-hsl), 1);
  background-color: hsla(0, 0%, 19%, 1);
  background: linear-gradient(330deg, rgba(29, 29, 29, 1) 0%, rgba(60, 60, 60, 1) 75%, rgba(70, 70, 70, 1) 100%);
  text-transform: uppercase;
  font-variation-settings: 'slnt' -10;
}

.grad {
  background: linear-gradient(330deg, rgba(29, 29, 29, 1) 0%, rgba(60, 60, 60, 1) 75%, rgba(70, 70, 70, 1) 100%);
}
