@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg-hsl: 0, 0%, 93%;
  --fg: hsl(var(--fg-hsl));
}

body {
  color: hsla(var(--fg-hsl), 1);
  background-color: hsla(0, 0%, 19%, 1);
  background: linear-gradient(330deg, rgba(29, 29, 29, 1) 0%, rgba(60, 60, 60, 1) 75%, rgba(70, 70, 70, 1) 100%);
  text-transform: uppercase;
  font-variation-settings: 'slnt' -10;
}

.grad {
  background: linear-gradient(330deg, rgba(29, 29, 29, 1) 0%, rgba(60, 60, 60, 1) 75%, rgba(70, 70, 70, 1) 100%);
}

input,
textarea {
  font-variation-settings: 'slnt' -10;

}

input {
  text-transform: uppercase;

}

.scroll {
  border-radius: 100% !important;
  width: 60px !important;
  height: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .5;
  transition: opacity ease-in-out .15s;
}

.scroll:hover {
  opacity: .8 !important;
}